.l-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 48px 101px 65px 100px;
    margin-bottom: 55px;

    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}